html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* 화면 전체 높이를 사용 */
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
}
input{
    border: none;

}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* 세로 방향 배치 */
    background-color: #f4f4f4;
    overflow: hidden; /* 스크롤을 숨김 */
    position: relative; /* 절대 위치 설정을 위한 기준 */
}

.wrapper {
    display: flex;
    width: 550px;
    height: 250px;
    border: 2px solid #343434;
    border-radius: 3px;
    background-color: #343434;
    color: #f4f4f4;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* padding: 5px; */
    position: absolute; /* 절대 위치 설정 */
    top: 50%; /* 화면의 세로 중심 */
    left: 50%; /* 화면의 가로 중심 */
    transform: translate(-50%, -50%); /* 정확한 중앙 위치를 위한 변환 */
}
.clock-group{
    flex: 0 0 80%;
    /* background-color: lightblue; */
}
.clock-group button{
    font-size: 16px;
    background-color: lightcoral;
    border: none;
    font-weight: bold;
    color: #f4f4f4;

}
.etc-group {
    flex: 0 0 20%;
    /* background-color: lightcoral; */
}
.current-time{
    font-size: 1.5rem;
    color: white;
}
.battery{

}
.clock-window{

}
.alarm-window{

}