/* class로 css 작업하기 Wrapper(wrap)  –   container, section, part  –   box */

html {
    margin: 0;
}
.block {
    background-color: green;
    display: block;
}
.inline {
    background-color: red;

    display: inline;
}
.intro {
    color: blue;
    font-size: 24px;
}
.sementic {
    width: 400px;
    height: 200px;
    margin: 0 auto;
    border-radius: 10%;
    background-color: green;

}

.wrapper1 {
    display: flex;
    width: 80%;
    margin: 0 auto;
    background-color: rgb(207, 232, 220);
    padding: 0.5em;
  }
  
  .wrapper1 > .box1 {
    flex-basis: auto;

  }
  
  .wrapper1 > .box2 {
    margin-left: 0.5em;
    flex-basis: auto;

  }
.wrapper2 {
    display: grid;
    width: 80%;
    margin: 0 auto;
    padding: 0.5em;

    background-color: rgb(220, 232, 220);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    grid-gap: 10px;
}
    
.boxModel {
    padding : 5px;
    border : 1px solid yellow;
    margin : 5px;
    background-color :blue;
    width: 150px;
}
.whatClass{
    background-color: rgb(220, 232, 220);

}
.whatId{
    background-color: rgb(180, 170, 220);
    
}
.myImage {
    width: 100px;
}
img{
    width: 100%;
}